# Git Ignore Template
.idea/**
### Build Directories ###
build/**
!**/src/main/**/build/
!**/src/test/**/build/
out/**
!**/src/main/**/out/
!**/src/test/**/out/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
target/
nbbuild/
nbdist/
dist/
lib/
node_modules/

### IDE Specific ###
# IntelliJ IDEA

*.iws
*.iml
*.ipr

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/.nb-gradle/

# VS Code
.vscode/

### OS/System Specific ###
.DS_Store
*.sw?
*~
.#*
.attach_pid*

### Gradle Specific ###
.gradle/
!gradle/wrapper/gradle-wrapper.jar
.gradletasknamecache

### Maven Specific ###
dependency-reduced-pom.xml
interpolated*.xml
.flattened-pom.xml

### Other ###
# Logs, Manifest, and Others
build.log
MANIFEST.MF
manifest.yml
overridedb.*
_site/
secrets.yml
activemq-data
dump.rdb

### Git Specific ###
.git-hooks/

# Markdown related
*.md.html
